html {
  background: #fff;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.red-bg {
  background-color: #fa5c4f;
  color: white;
}

.grey-bg {
  background-color: #404040;
  color: white;
}
